In [1]:
import pandas as pd # Dataframes
import numpy as np  # Vectores
import glob         # gestionar la carga de ficheros csv con el directorio

In [21]:
#1 Load csv de un directorio con pandas

directory = r'C:\Users\figol\OneDrive\Escritorio\git_gmane\Proyecto_DAATES\*.csv'
files = glob.glob(directory)
listaArchivos = []
for file in files:
    listaArchivos.append(file)

names = ['id','name','geoid','geoname','value','datetime']
df = pd.DataFrame(columns=names) 

i = 0
while listaArchivos:
    filename = listaArchivos.pop(0)
    df_temp = pd.read_csv(filename, sep=';', names=names)
    df = pd.concat([df, df_temp], ignore_index=True)

del i,df_temp,listaArchivos,files,filename,file,directory # Elimino variables locales

In [26]:
#2 EDA
#2.1 Data cleaning
df['value'] = pd.to_numeric(df['value'], errors='coerce') # Casting de la variable 'value' con gestion de errores pasandolo a NA

In [27]:
##2.2 PEAK
print("\n" + "SHAPE:")
print(df.shape)

print("\n" + "VALORES NULL:")
print(df.isnull().sum())

print("\n" + "VALORES UNICOS:")
print(df.nunique())
print("\n")
for columna in names:
    print(f"Valores únicos en {columna}:")
    print(df[columna].unique())

print("\n" + "TIPOS DE DATOS:")
print(df.dtypes)

SHAPE:
(43805, 6)

VALORES NULL:
id          0
name        0
geoid       0
geoname     0
value       5
datetime    0
dtype: int64

VALORES UNICOS:
id              2
name            2
geoid           2
geoname         2
value       14921
datetime    43801
dtype: int64


Valores únicos en id:
['id' '600']
Valores únicos en name:
['name' 'Precio mercado SPOT Diario España']
Valores únicos en geoid:
['geoid' '3']
Valores únicos en geoname:
['geoname' 'España']
Valores únicos en value:
[  nan 66.88 66.   ... 10.06 63.84 92.97]
Valores únicos en datetime:
['datetime' '2019-01-01T00:00:00+01:00' '2019-01-01T01:00:00+01:00' ...
 '2023-12-31T21:00:00+01:00' '2023-12-31T22:00:00+01:00'
 '2023-12-31T23:00:00+01:00']

TIPOS DE DATOS:
id           object
name         object
geoid        object
geoname      object
value       float64
datetime     object
dtype: object

In [ ]:
#2.3 Descriptive study